@model IEnumerable<Project.MVC.ViewModels.VehicleModelVM>

<h1>Vehicle Models</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Abbreviation</th>
            <th>Vehicle Make</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var model in Model)
        {
            <tr>
                <td>@model.Id</td>
                <td>@model.Name</td>
                <td>@model.Abrv</td>
                <td>@model.VehicleMake?.Name</td>
            </tr>
        }
    </tbody>
</table>
