@model Project.MVC.ViewModels.VehicleModelVM

<h1>Delete Vehicle Model</h1>

<p>Are you sure you want to delete @Model.Name?</p>

<form asp-action="Delete" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>