@model Project.MVC.ViewModels.VehicleModelIndexVM

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Make</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.MakeName</td>
            </tr>
        }
    </tbody>
</table>

<!-- Simplified pagination -->
<div class="pagination">
    Page @Model.Pagination.Page of @Model.Pagination.TotalPages
</div>