@model Project.MVC.ViewModels.VehicleMakeViewModel

@{
    ViewBag.Title = "Edit Vehicle Make";
}

<h2>Edit Vehicle Make</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    <!-- Ostatak je sliÄan kao u Create.cshtml -->
}
